# Latihan : 
1. Eksplore data yang diberikan dari kaggle tersebut (aug-test https://www.kaggle.com/arashnic/hr-analytics-job-change-of-data-scientists)
2. yang perlu diperhatikan adalah anggap saya adalah orang yang tidak mengerti datanya. Silahkan coba ceritakan data ini tentang apa, insight apa dari variable yg menurut mas/mba itu penting
3. silahkan tentukan ini kasus klasifikasi atau regresi?
4. lakukan modeling berdasarkan penentuan kasus sebelumnya
5. perlu diingat tetap harus melakukan pengecekan anomali data
6. Setelah membuat model dan jika menganggap hasil akurasinya bagus, secara random ambillah 100 data dan coba prediksikan Y nya

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('aug_train.csv')
data

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevent experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevent experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,0.0
19157,23834,city_67,0.855,NaN,No relevent experience,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,0.0

In [3]:
data.dropna(thresh=12,inplace=True)

In [4]:
data.isna().sum()

enrollee_id                  0
city                         0
city_development_index       0
gender                    2827
relevent_experience          0
enrolled_university        126
education_level             74
major_discipline          1084
experience                  21
company_size              3283
company_type              3464
last_new_job               147
training_hours               0
target                       0
dtype: int64

In [5]:
data['gender'].value_counts()
data['gender'].fillna('Other',inplace=True)

In [6]:
data['enrolled_university'].value_counts()
data[data['enrolled_university'].isna()]
data['enrolled_university'].fillna('no_enrollment',inplace=True)

In [7]:
data['education_level'].value_counts()
data[data['education_level'].isna()]
data['education_level'].fillna('Unknown',inplace=True)

In [8]:
data['major_discipline'].value_counts()
data[data['major_discipline'].isna()]
data['major_discipline'].fillna('Other',inplace=True)

In [9]:
data['experience'].value_counts()
data[data['experience'].isna()]
data['experience'].fillna('<1',inplace=True)

In [12]:
data.to_csv("HR_analytic_bersih.csv")
data

,enrollee_id,city,city_development_index,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,target
0,8949,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevent experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
4,666,city_162,0.767,Male,Has relevent experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0
6,28806,city_160,0.920,Male,Has relevent experience,no_enrollment,High School,Other,5,50-99,Funded Startup,1,24,0.0
7,402,city_46,0.762,Male,Has relevent experience,no_enrollment,Graduate,STEM,13,<10,Pvt Ltd,>4,18,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19152,29754,city_103,0.920,Female,Has relevent experience,no_enrollment,Graduate,Humanities,7,10/49,Funded Startup,1,25,0.0
19153,7386,city_173,0.878,Male,No relevent experience,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,1.0
19154,31398,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,1.0
19155,24576,city_103,0.920,Male,Has relevent experience,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,0.0
19156,5756,city_65,0.802,Male,Has relevent experience,no_enrollment,High School,Other,<1,500-999,Pvt Ltd,2,97,0.0

In [101]:
data.columns

Index(['enrollee_id', 'city', 'city_development_index', 'gender',
       'relevent_experience', 'enrolled_university', 'education_level',
       'major_discipline', 'experience', 'company_size', 'company_type',
       'last_new_job', 'training_hours', 'target'],
      dtype='object')

In [102]:
data_dummy = pd.get_dummies(data[['relevent_experience', 'enrolled_university', 'education_level', 'major_discipline', 'experience', 'training_hours', 'target']], drop_first = True)
data_dummy

,training_hours,target,relevent_experience_No relevent experience,enrolled_university_Part time course,enrolled_university_no_enrollment,education_level_High School,education_level_Masters,education_level_Phd,education_level_Primary School,education_level_Unknown,...,experience_20,experience_3,experience_4,experience_5,experience_6,experience_7,experience_8,experience_9,experience_<1,experience_>20
0,36,1.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,47,0.0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,8,0.0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
6,24,0.0,0,0,1,1,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
7,18,1.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19152,25,0.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
19153,42,1.0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19154,52,1.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19155,44,0.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19156,97,0.0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [103]:
data_dummy.columns

Index(['training_hours', 'target',
       'relevent_experience_No relevent experience',
       'enrolled_university_Part time course',
       'enrolled_university_no_enrollment', 'education_level_High School',
       'education_level_Masters', 'education_level_Phd',
       'education_level_Primary School', 'education_level_Unknown',
       'major_discipline_Business Degree', 'major_discipline_Humanities',
       'major_discipline_No Major', 'major_discipline_Other',
       'major_discipline_STEM', 'experience_10', 'experience_11',
       'experience_12', 'experience_13', 'experience_14', 'experience_15',
       'experience_16', 'experience_17', 'experience_18', 'experience_19',
       'experience_2', 'experience_20', 'experience_3', 'experience_4',
       'experience_5', 'experience_6', 'experience_7', 'experience_8',
       'experience_9', 'experience_<1', 'experience_>20'],
      dtype='object')

In [170]:
fitur = data_dummy[['training_hours',
       'relevent_experience_No relevent experience',
       'enrolled_university_Part time course',
       'enrolled_university_no_enrollment', 'education_level_High School',
       'education_level_Masters', 'education_level_Phd',
       'education_level_Primary School', 'education_level_Unknown']]
target = data_dummy[['target']]

In [171]:
model_logit = sm.Logit(target, sm.add_constant(fitur))
model_logit

In [172]:
hasil = model_logit.fit()

Optimization terminated successfully.
         Current function value: 0.521208
         Iterations 6

In [173]:
print(hasil.summary())
# drop major_discipline, experience

                           Logit Regression Results
==============================================================================
Dep. Variable:                 target   No. Observations:                16327
Model:                          Logit   Df Residuals:                    16317
Method:                           MLE   Df Model:                            9
Date:                Thu, 29 Apr 2021   Pseudo R-squ.:                 0.03703
Time:                        15:50:43   Log-Likelihood:                -8509.8
converged:                       True   LL-Null:                       -8837.0
Covariance Type:            nonrobust   LLR p-value:                4.175e-135
==============================================================================================================
                                                 coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------------
const                                         -0.6198      0.054    -11.467      0.000      -0.726      -0.514
training_hours                                -0.0008      0.000     -2.450      0.014      -0.001      -0.000
relevent_experience_No relevent experience     0.5430      0.047     11.626      0.000       0.451       0.635
enrolled_university_Part time course          -0.6120      0.087     -7.041      0.000      -0.782      -0.442
enrolled_university_no_enrollment             -0.6310      0.050    -12.508      0.000      -0.730      -0.532
education_level_High School                   -1.3546      0.113    -11.946      0.000      -1.577      -1.132
education_level_Masters                       -0.2817      0.045     -6.193      0.000      -0.371      -0.193
education_level_Phd                           -0.8331      0.151     -5.516      0.000      -1.129      -0.537
education_level_Primary School                -0.9750      0.327     -2.977      0.003      -1.617      -0.333
education_level_Unknown                       -0.7719      0.344     -2.243      0.025      -1.446      -0.097
==============================================================================================================

In [174]:
def hit_VIF(X) :
    vif = pd.DataFrame()
    vif['Variables'] = X.columns
    vif['VIF'] = [variance_inflation_factor(X.values,i) for i in range (X.shape[1])]
    return vif

In [175]:
hit_VIF(fitur)

                                    Variables       VIF
0                              training_hours  1.906220
1  relevent_experience_No relevent experience  1.179794
2        enrolled_university_Part time course  1.100668
3           enrolled_university_no_enrollment  2.092646
4                 education_level_High School  1.079362
5                     education_level_Masters  1.346434
6                         education_level_Phd  1.047452
7              education_level_Primary School  1.011393
8                     education_level_Unknown  1.005700

In [176]:
X_train, X_test, y_train, y_test = train_test_split(
    fitur[['training_hours',
       'relevent_experience_No relevent experience',
       'enrolled_university_Part time course',
       'enrolled_university_no_enrollment', 'education_level_High School',
       'education_level_Masters', 'education_level_Phd',
       'education_level_Primary School', 'education_level_Unknown']],
    target,
    stratify = target,
    test_size = 0.2,
    random_state = 2020
)

In [177]:
model_logit_train = sm.Logit(y_train, sm.add_constant(X_train))
hasil_train = model_logit_train.fit()

Optimization terminated successfully.
         Current function value: 0.521732
         Iterations 6

In [178]:
y_pred_proba = hasil_train.predict(sm.add_constant(X_test))
y_pred_proba

3016     0.175231
8019     0.208883
17524    0.201193
2455     0.181493
18938    0.065451
           ...
11311    0.061555
11802    0.267626
16400    0.222780
11237    0.195635
17272    0.209172
Length: 3266, dtype: float64

In [179]:
y_pred_class = np.where(y_pred_proba>0.5,1,0)
y_pred_class

array([0, 0, 0, ..., 0, 0, 0])

In [180]:
print('Akurasi Model Adalah : ', round(accuracy_score(y_test,y_pred_class)*100,2))

Akurasi Model Adalah :  76.82

In [181]:
baru = data_dummy.sample(100)

In [182]:
baru

,training_hours,target,relevent_experience_No relevent experience,enrolled_university_Part time course,enrolled_university_no_enrollment,education_level_High School,education_level_Masters,education_level_Phd,education_level_Primary School,education_level_Unknown,...,experience_20,experience_3,experience_4,experience_5,experience_6,experience_7,experience_8,experience_9,experience_<1,experience_>20
10876,35,0.0,1,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6883,5,1.0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15880,78,1.0,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7165,98,0.0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3392,15,1.0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6129,84,0.0,0,0,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
2551,11,1.0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
10955,73,0.0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8607,33,1.0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
449,143,0.0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [183]:
baru.drop('target', axis = 1, inplace=True)

In [184]:
baru

,training_hours,relevent_experience_No relevent experience,enrolled_university_Part time course,enrolled_university_no_enrollment,education_level_High School,education_level_Masters,education_level_Phd,education_level_Primary School,education_level_Unknown,major_discipline_Business Degree,...,experience_20,experience_3,experience_4,experience_5,experience_6,experience_7,experience_8,experience_9,experience_<1,experience_>20
10876,35,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6883,5,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15880,78,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
7165,98,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3392,15,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6129,84,0,0,1,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
2551,11,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
10955,73,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
8607,33,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
449,143,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [185]:
baru.columns

Index(['training_hours', 'relevent_experience_No relevent experience',
       'enrolled_university_Part time course',
       'enrolled_university_no_enrollment', 'education_level_High School',
       'education_level_Masters', 'education_level_Phd',
       'education_level_Primary School', 'education_level_Unknown',
       'major_discipline_Business Degree', 'major_discipline_Humanities',
       'major_discipline_No Major', 'major_discipline_Other',
       'major_discipline_STEM', 'experience_10', 'experience_11',
       'experience_12', 'experience_13', 'experience_14', 'experience_15',
       'experience_16', 'experience_17', 'experience_18', 'experience_19',
       'experience_2', 'experience_20', 'experience_3', 'experience_4',
       'experience_5', 'experience_6', 'experience_7', 'experience_8',
       'experience_9', 'experience_<1', 'experience_>20'],
      dtype='object')

In [186]:
pred_data_baru = hasil_train.predict(sm.add_constant(baru[['training_hours', 'relevent_experience_No relevent experience',
       'enrolled_university_Part time course',
       'enrolled_university_no_enrollment', 'education_level_High School',
       'education_level_Masters', 'education_level_Phd',
       'education_level_Primary School', 'education_level_Unknown']]))

In [187]:
pred_data_baru

10876    0.399636
6883     0.330983
15880    0.460750
7165     0.166809
3392     0.474453
           ...
6129     0.106675
2551     0.223538
10955    0.214276
8607     0.220219
449      0.204158
Length: 100, dtype: float64