# Latihan 1
1. Buatlah sebuah variabel input untuk menentukan jumlah baris yang akan dibuat
1. Buatlah sebuah dataframe dengan ketentuan :
    - Kolom 1 merupakan data random normal sebanyak n baris (inputan)
    - Kolom 2 merupakan data random antara 0 sampai 1 sebanyak n baris
    - Kolom 3 merupakan data random antara 1 hingga 10 sebanyak n baris (gunakan random uniform pada numpy)
    - Kolom 4 merupakan hasil penjumlahan antara kolom 1 dan kolom 3
    - Kolom 5 merupakan hasil bagi yang dibulatkan kebawah antara kolom 2 dan kolom 3
    - Kolom 6 merupakan hasil bagi yang dibulatkan keatas antara kolom 4 dan kolom 5
    - Kolom 7 merupakan hasil perkalian antara pi dengan kolom 6

In [3]:
import numpy as np 
import pandas as pd
import math as mt

In [6]:
n = int(input("Masukan jumlah baris : "))
kol1 = np.random.randn(n)
kol2 = np.random.rand(n)
kol3 = np.random.uniform(1,10,n)
kol4 = np.array(kol1+kol3)
kol5 = np.array(kol2//kol3)
kol6 = np.array(kol4/kol5)
kol7 = np.array(mt.pi*kol5)
df = pd.DataFrame(data = zip(kol1,kol2,kol3,kol4,kol5,kol6, kol7),columns= 'Kol1 Kol2 Kol3 Kol4 Kol5 Kol6 Kol7'.split(" "))
df

<ipython-input-6-8f7737eb33c6>:7: RuntimeWarning: divide by zero encountered in true_divide
  kol6 = np.array(kol4/kol5)

       Kol1      Kol2      Kol3      Kol4  Kol5  Kol6  Kol7
0  1.209122  0.091425  4.995960  6.205082   0.0   inf   0.0
1 -0.395935  0.068905  2.531143  2.135208   0.0   inf   0.0
2  1.810396  0.785822  7.308686  9.119082   0.0   inf   0.0
3  0.254842  0.383821  5.668871  5.923713   0.0   inf   0.0
4  0.806292  0.142400  7.345531  8.151823   0.0   inf   0.0
5  1.019349  0.259600  6.909970  7.929319   0.0   inf   0.0
6  0.004116  0.861134  9.974949  9.979065   0.0   inf   0.0
7  0.617740  0.546030  5.517323  6.135063   0.0   inf   0.0
8  0.636674  0.999160  5.618789  6.255462   0.0   inf   0.0
9  1.252332  0.632133  7.724146  8.976478   0.0   inf   0.0

1. Tambahkan satu kolom baru yang nilainya bebas dan unique. Kolom baru ini kemudian di set sebagai index nya.

In [5]:
df["New"]=['A','B','C','D','E','F','G','H','I','J']

ValueError: Length of values (10) does not match length of index (2)

In [184]:
df

       Kol1      Kol2      Kol3       Kol4  Kol5  Kol6  Kol7 New
0 -0.351649  0.691890  1.992844   1.641195   0.0   inf   0.0   A
1  1.799142  0.522876  9.079389  10.878531   0.0   inf   0.0   B
2  0.038698  0.984457  2.041998   2.080695   0.0   inf   0.0   C
3 -0.403080  0.393299  4.896562   4.493482   0.0   inf   0.0   D
4  2.822809  0.241036  4.874742   7.697552   0.0   inf   0.0   E
5  1.257452  0.389653  9.680331  10.937782   0.0   inf   0.0   F
6  0.170795  0.818249  4.674937   4.845731   0.0   inf   0.0   G
7 -0.124940  0.941972  3.729209   3.604269   0.0   inf   0.0   H
8 -1.059694  0.250637  9.343868   8.284174   0.0   inf   0.0   I
9 -0.774140  0.552288  5.653342   4.879202   0.0   inf   0.0   J

In [185]:
df.set_index("New")

         Kol1      Kol2      Kol3       Kol4  Kol5  Kol6  Kol7
New
A   -0.351649  0.691890  1.992844   1.641195   0.0   inf   0.0
B    1.799142  0.522876  9.079389  10.878531   0.0   inf   0.0
C    0.038698  0.984457  2.041998   2.080695   0.0   inf   0.0
D   -0.403080  0.393299  4.896562   4.493482   0.0   inf   0.0
E    2.822809  0.241036  4.874742   7.697552   0.0   inf   0.0
F    1.257452  0.389653  9.680331  10.937782   0.0   inf   0.0
G    0.170795  0.818249  4.674937   4.845731   0.0   inf   0.0
H   -0.124940  0.941972  3.729209   3.604269   0.0   inf   0.0
I   -1.059694  0.250637  9.343868   8.284174   0.0   inf   0.0
J   -0.774140  0.552288  5.653342   4.879202   0.0   inf   0.0

1. Buatlah sebuah fungsi. Fungsi yang dibuat bebas. Coba libatkan 2 kolom dalam fungsi ini. Lalu buatlah variabel baru yang merupakan implementasi dari fungsi yang telah dibuat.

In [186]:
df

       Kol1      Kol2      Kol3       Kol4  Kol5  Kol6  Kol7 New
0 -0.351649  0.691890  1.992844   1.641195   0.0   inf   0.0   A
1  1.799142  0.522876  9.079389  10.878531   0.0   inf   0.0   B
2  0.038698  0.984457  2.041998   2.080695   0.0   inf   0.0   C
3 -0.403080  0.393299  4.896562   4.493482   0.0   inf   0.0   D
4  2.822809  0.241036  4.874742   7.697552   0.0   inf   0.0   E
5  1.257452  0.389653  9.680331  10.937782   0.0   inf   0.0   F
6  0.170795  0.818249  4.674937   4.845731   0.0   inf   0.0   G
7 -0.124940  0.941972  3.729209   3.604269   0.0   inf   0.0   H
8 -1.059694  0.250637  9.343868   8.284174   0.0   inf   0.0   I
9 -0.774140  0.552288  5.653342   4.879202   0.0   inf   0.0   J

In [187]:
def tambah(x)

SyntaxError: invalid syntax (<ipython-input-187-e8937104d849>, line 1)

In [196]:
def sum1(x):
    return x['Kol4']+x["Kol5"]+10

In [208]:
df[["Kol4","Kol5"]].apply(sum1,axis=1)

0    11.641195
1    20.878531
2    12.080695
3    14.493482
4    17.697552
5    20.937782
6    14.845731
7    13.604269
8    18.284174
9    14.879202
dtype: float64

In [202]:
df['Kol8'] = df[["Kol4","Kol5"]].apply(sum1,axis=1)
df

       Kol1      Kol2      Kol3       Kol4  Kol5  Kol6  Kol7 New       Kol8
0 -0.351649  0.691890  1.992844   1.641195   0.0   inf   0.0   A  11.641195
1  1.799142  0.522876  9.079389  10.878531   0.0   inf   0.0   B  20.878531
2  0.038698  0.984457  2.041998   2.080695   0.0   inf   0.0   C  12.080695
3 -0.403080  0.393299  4.896562   4.493482   0.0   inf   0.0   D  14.493482
4  2.822809  0.241036  4.874742   7.697552   0.0   inf   0.0   E  17.697552
5  1.257452  0.389653  9.680331  10.937782   0.0   inf   0.0   F  20.937782
6  0.170795  0.818249  4.674937   4.845731   0.0   inf   0.0   G  14.845731
7 -0.124940  0.941972  3.729209   3.604269   0.0   inf   0.0   H  13.604269
8 -1.059694  0.250637  9.343868   8.284174   0.0   inf   0.0   I  18.284174
9 -0.774140  0.552288  5.653342   4.879202   0.0   inf   0.0   J  14.879202

Buatlah sebuah dataframe baru yang berukuran jumlah kolom yang sama dengan dataframe pertama. lakukan concat pada dua data frame ini. tampilkan dataframe akhirnya

In [158]:
df2 = pd.DataFrame(np.random.randint(50,100,(10,8)))
df2

    0   1   2   3   4   5   6   7
0  55  76  76  58  53  72  53  87
1  53  98  98  58  98  66  63  97
2  59  58  80  65  78  98  96  54
3  99  67  67  76  56  62  51  96
4  58  80  70  98  83  92  68  54
5  60  98  79  91  94  83  52  72
6  92  66  86  81  68  98  89  56
7  84  88  64  81  75  99  52  73
8  80  61  78  81  63  68  81  86
9  94  78  56  90  67  97  69  78

In [163]:
df

         Kol1      Kol2      Kol3       Kol4  Kol5  Kol6  Kol7       Kol8
New
A    1.450209  0.325840  8.955316  10.405525   0.0   inf   0.0  20.405525
B   -0.059178  0.377442  9.135758   9.076580   0.0   inf   0.0  19.076580
C   -0.202250  0.744078  8.315489   8.113239   0.0   inf   0.0  18.113239
D   -0.689622  0.143484  3.774176   3.084554   0.0   inf   0.0  13.084554
E   -0.322116  0.560639  7.497717   7.175601   0.0   inf   0.0  17.175601
F   -0.714616  0.137022  8.982242   8.267626   0.0   inf   0.0  18.267626
G   -1.247938  0.939877  4.079088   2.831151   0.0   inf   0.0  12.831151
H   -0.193190  0.691601  9.262566   9.069375   0.0   inf   0.0  19.069375
I   -1.244024  0.283280  9.834436   8.590412   0.0   inf   0.0  18.590412
J   -0.351986  0.651049  8.591232   8.239246   0.0   inf   0.0  18.239246

In [167]:
df3 = pd.concat([df,df2])
df3

,Kol1,Kol2,Kol3,Kol4,Kol5,Kol6,Kol7,Kol8,0,1,2,3,4,5,6,7
A,1.450209,0.325840,8.955316,10.405525,0.0,inf,0.0,20.405525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B,-0.059178,0.377442,9.135758,9.076580,0.0,inf,0.0,19.076580,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C,-0.202250,0.744078,8.315489,8.113239,0.0,inf,0.0,18.113239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
D,-0.689622,0.143484,3.774176,3.084554,0.0,inf,0.0,13.084554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E,-0.322116,0.560639,7.497717,7.175601,0.0,inf,0.0,17.175601,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
F,-0.714616,0.137022,8.982242,8.267626,0.0,inf,0.0,18.267626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
G,-1.247938,0.939877,4.079088,2.831151,0.0,inf,0.0,12.831151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
H,-0.193190,0.691601,9.262566,9.069375,0.0,inf,0.0,19.069375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
I,-1.244024,0.283280,9.834436,8.590412,0.0,inf,0.0,18.590412,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J,-0.351986,0.651049,8.591232,8.239246,0.0,inf,0.0,18.239246,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,55.0,76.0,76.0,58.0,53.0,72.0,53.0,87.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53.0,98.0,98.0,58.0,98.0,66.0,63.0,97.0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.0,58.0,80.0,65.0,78.0,98.0,96.0,54.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,99.0,67.0,67.0,76.0,56.0,62.0,51.0,96.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58.0,80.0,70.0,98.0,83.0,92.0,68.0,54.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,98.0,79.0,91.0,94.0,83.0,52.0,72.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,92.0,66.0,86.0,81.0,68.0,98.0,89.0,56.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84.0,88.0,64.0,81.0,75.0,99.0,52.0,73.0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.0,61.0,78.0,81.0,63.0,68.0,81.0,86.0
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94.0,78.0,56.0,90.0,67.0,97.0,69.0,78.0

simpan ke dalam bentuk csv

In [168]:
df3.to_csv("df3.csv")