Latihan 1 
1. cari dataset di kaggle.com
2. import dataset tsb ke dalam notebook masing2
3. ekssplorasi dataset tsb. tampilkan : 
- informasi umum dari datanya
- statistika deskriptif untuk numerik dan non numeriknya
- unique values pada variable yang kategorik
- berapa jumlah unique valuenya
- di variabel mana saja terdapat missing valuenya

In [2]:
import numpy as np 
import pandas as pd 
import seaborn as sns

In [44]:
data = pd.read_csv("train_aug.csv")
data

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities,DayOfYear,x0_ConfirmedCases,...,obstetricians_act_working,anaesthesiologists_act_working,avg_hh,hh%1,hh%2-3,hh%4-5,hh%6+,hh65+,y_ConfirmedCases,y_Fatalities
0,1,Afghanistan,Afghanistan,33.0000,65.0000,2020-01-22,0.0,0.0,22,119.118777,...,0.0,0.0,8.04,0.19,6.45,16.84,76.52,17.24,0,0
1,2,Afghanistan,Afghanistan,33.0000,65.0000,2020-01-23,0.0,0.0,23,119.118777,...,0.0,0.0,8.04,0.19,6.45,16.84,76.52,17.24,0,0
2,3,Afghanistan,Afghanistan,33.0000,65.0000,2020-01-24,0.0,0.0,24,119.118777,...,0.0,0.0,8.04,0.19,6.45,16.84,76.52,17.24,0,0
3,4,Afghanistan,Afghanistan,33.0000,65.0000,2020-01-25,0.0,0.0,25,119.118777,...,0.0,0.0,8.04,0.19,6.45,16.84,76.52,17.24,0,0
4,5,Afghanistan,Afghanistan,33.0000,65.0000,2020-01-26,0.0,0.0,26,119.118777,...,0.0,0.0,8.04,0.19,6.45,16.84,76.52,17.24,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17887,26378,Zambia,Zambia,-15.4167,28.2833,2020-03-20,2.0,0.0,80,78.573074,...,0.0,0.0,5.13,7.17,21.41,30.06,41.35,14.13,2,0
17888,26379,Zambia,Zambia,-15.4167,28.2833,2020-03-21,2.0,0.0,81,78.573074,...,0.0,0.0,5.13,7.17,21.41,30.06,41.35,14.13,3,0
17889,26380,Zambia,Zambia,-15.4167,28.2833,2020-03-22,3.0,0.0,82,78.573074,...,0.0,0.0,5.13,7.17,21.41,30.06,41.35,14.13,3,0
17890,26381,Zambia,Zambia,-15.4167,28.2833,2020-03-23,3.0,0.0,83,78.573074,...,0.0,0.0,5.13,7.17,21.41,30.06,41.35,14.13,3,0
17891,26382,Zambia,Zambia,-15.4167,28.2833,2020-03-24,3.0,0.0,84,78.573074,...,0.0,0.0,5.13,7.17,21.41,30.06,41.35,14.13,3,0

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17892 entries, 0 to 17891
Data columns (total 49 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Id                              17892 non-null  int64
 1   Province/State                  17892 non-null  object
 2   Country/Region                  17892 non-null  object
 3   Lat                             17892 non-null  float64
 4   Long                            17892 non-null  float64
 5   Date                            17892 non-null  object
 6   ConfirmedCases                  17892 non-null  float64
 7   Fatalities                      17892 non-null  float64
 8   DayOfYear                       17892 non-null  int64
 9   x0_ConfirmedCases               17892 non-null  float64
 10  L_ConfirmedCases                17892 non-null  float64
 11  k_ConfirmedCases                17892 non-null  float64
 12  sx0_ConfirmedCases              17892 non-null  float64
 13  sx0L_ConfirmedCases             17892 non-null  float64
 14  sx0k_ConfirmedCases             17892 non-null  float64
 15  sL_ConfirmedCases               17892 non-null  float64
 16  sLk_ConfirmedCases              17892 non-null  float64
 17  sk_ConfirmedCases               17892 non-null  float64
 18  x0_Fatalities                   17892 non-null  float64
 19  L_Fatalities                    17892 non-null  float64
 20  k_Fatalities                    17892 non-null  float64
 21  sx0_Fatalities                  17892 non-null  float64
 22  sx0L_Fatalities                 17892 non-null  float64
 23  sx0k_Fatalities                 17892 non-null  float64
 24  sL_Fatalities                   17892 non-null  float64
 25  sLk_Fatalities                  17892 non-null  float64
 26  sk_Fatalities                   17892 non-null  float64
 27  life_expectancy_years           13545 non-null  float64
 28  literacy_rates                  13545 non-null  float64
 29  veg_supply_person_kg_year       13545 non-null  float64
 30  respiratory_infections_death    13545 non-null  float64
 31  deaths_from_smoking%            13545 non-null  float64
 32  young%                          13545 non-null  float64
 33  old%                            13545 non-null  float64
 34  density                         13545 non-null  float64
 35  population                      13545 non-null  float64
 36  fem%                            13545 non-null  float64
 37  number_doc_per1000              13545 non-null  float64
 38  surgeons_act_working            13482 non-null  float64
 39  obstetricians_act_working       13482 non-null  float64
 40  anaesthesiologists_act_working  13545 non-null  float64
 41  avg_hh                          8694 non-null   float64
 42  hh%1                            10332 non-null  float64
 43  hh%2-3                          10332 non-null  float64
 44  hh%4-5                          10332 non-null  float64
 45  hh%6+                           10332 non-null  float64
 46  hh65+                           4221 non-null   float64
 47  y_ConfirmedCases                17892 non-null  int64
 48  y_Fatalities                    17892 non-null  int64
dtypes: float64(42), int64(4), object(3)
memory usage: 6.7+ MB

In [60]:
data.describe()

,Id,Lat,Long,ConfirmedCases,Fatalities,DayOfYear,x0_ConfirmedCases,L_ConfirmedCases,k_ConfirmedCases,sx0_ConfirmedCases,...,obstetricians_act_working,anaesthesiologists_act_working,avg_hh,hh%1,hh%2-3,hh%4-5,hh%6+,hh65+,y_ConfirmedCases,y_Fatalities
count,4158.000000,4158.000000,4158.000000,4158.000000,4158.000000,4158.000000,4158.000000,4.158000e+03,4158.000000,4.158000e+03,...,4158.000000,4158.000000,4158.000000,4158.000000,4158.000000,4158.000000,4158.000000,4158.000000,4158.000000,4158.000000
mean,11972.636364,12.288445,6.392353,62.818182,1.442039,53.000000,89.218585,1.559742e+04,0.417113,9.325986e+05,...,1748.015152,1148.287879,4.361970,12.090909,31.909545,29.731364,26.268333,21.415909,61.406205,1.320587
std,6327.457109,20.695265,62.615489,652.428701,21.611967,18.186429,38.355950,7.112527e+04,0.296481,6.997822e+06,...,3709.495031,2374.410373,1.285268,7.526005,10.842734,7.057917,16.738767,6.559256,606.325510,18.823194
min,1.000000,-35.675100,-102.552800,0.000000,0.000000,22.000000,53.000000,1.000000e-10,0.009136,2.723834e-03,...,0.000000,0.000000,2.210000,0.190000,6.450000,15.480000,1.620000,10.790000,0.000000,0.000000
25%,8774.250000,2.500000,-58.750000,0.000000,0.000000,37.000000,79.113006,3.167001e+01,0.236951,5.970604e-02,...,0.000000,0.000000,3.460000,6.480000,23.560000,24.290000,11.660000,16.030000,0.000000,0.000000
50%,11703.500000,11.120900,11.555750,0.000000,0.000000,53.000000,81.986301,2.470915e+02,0.339870,2.850723e-01,...,10.000000,4.000000,4.235000,11.175000,30.195000,29.555000,24.140000,20.290000,0.000000,0.000000
75%,16213.750000,26.000000,45.038200,2.000000,0.000000,69.000000,88.079528,1.573266e+03,0.518803,2.675215e+01,...,600.000000,280.000000,5.130000,17.450000,41.290000,35.490000,37.720000,24.760000,1.000000,0.000000
max,26382.000000,53.709800,149.406800,19874.000000,860.000000,84.000000,379.404257,4.255084e+05,2.000000,5.731035e+07,...,15363.000000,7076.000000,8.660000,37.510000,51.730000,45.590000,76.520000,38.760000,12641.000000,526.000000

In [63]:
data.describe(exclude = "number") #kalo exclude number, data lainnya akan ditampilin semua

                  Province/State Country/Region        Date
count                       4158           4158        4158
unique                        66             59          63
top     Central African Republic         France  2020-03-05
freq                          63            504          66

In [62]:
data.describe(include = object) #include ambil object aja, berhubung ini adanya object aja, jadi sama

                  Province/State Country/Region        Date
count                       4158           4158        4158
unique                        66             59          63
top     Central African Republic         France  2020-03-05
freq                          63            504          66

In [49]:
data['Province/State'].value_counts()

Diamond Princess    126
Aruba               126
Georgia             126
Guam                126
Puerto Rico         126
                   ...
Hong Kong            63
Quebec               63
Greece               63
Belgium              63
Rwanda               63
Name: Province/State, Length: 274, dtype: int64

In [50]:
data['Country/Region'].value_counts()

US             3654
China          2079
Canada          693
Australia       567
France          504
               ...
Tanzania         63
Singapore        63
Switzerland      63
Argentina        63
Rwanda           63
Name: Country/Region, Length: 163, dtype: int64

In [52]:
data.isna().sum()

Id                                    0
Province/State                        0
Country/Region                        0
Lat                                   0
Long                                  0
Date                                  0
ConfirmedCases                        0
Fatalities                            0
DayOfYear                             0
x0_ConfirmedCases                     0
L_ConfirmedCases                      0
k_ConfirmedCases                      0
sx0_ConfirmedCases                    0
sx0L_ConfirmedCases                   0
sx0k_ConfirmedCases                   0
sL_ConfirmedCases                     0
sLk_ConfirmedCases                    0
sk_ConfirmedCases                     0
x0_Fatalities                         0
L_Fatalities                          0
k_Fatalities                          0
sx0_Fatalities                        0
sx0L_Fatalities                       0
sx0k_Fatalities                       0
sL_Fatalities                         0
sLk_Fatalities                        0
sk_Fatalities                         0
life_expectancy_years              4347
literacy_rates                     4347
veg_supply_person_kg_year          4347
respiratory_infections_death       4347
deaths_from_smoking%               4347
young%                             4347
old%                               4347
density                            4347
population                         4347
fem%                               4347
number_doc_per1000                 4347
surgeons_act_working               4410
obstetricians_act_working          4410
anaesthesiologists_act_working     4347
avg_hh                             9198
hh%1                               7560
hh%2-3                             7560
hh%4-5                             7560
hh%6+                              7560
hh65+                             13671
y_ConfirmedCases                      0
y_Fatalities                          0
dtype: int64

In [54]:
data2 = pd.read_csv("test_aug.csv")
data2

,ForecastId,Province/State,Country/Region,Lat,Long,Date,DayOfYear,x0_ConfirmedCases,L_ConfirmedCases,k_ConfirmedCases,...,obstetricians_act_working,anaesthesiologists_act_working,avg_hh,hh%1,hh%2-3,hh%4-5,hh%6+,hh65+,y_ConfirmedCases,y_Fatalities
0,1,Afghanistan,Afghanistan,33.0000,65.0000,2020-03-12,72,119.118777,44630.51962,0.187914,...,0.0,0.0,8.04,0.19,6.45,16.84,76.52,17.24,6,0
1,2,Afghanistan,Afghanistan,33.0000,65.0000,2020-03-13,73,119.118777,44630.51962,0.187914,...,0.0,0.0,8.04,0.19,6.45,16.84,76.52,17.24,8,0
2,3,Afghanistan,Afghanistan,33.0000,65.0000,2020-03-14,74,119.118777,44630.51962,0.187914,...,0.0,0.0,8.04,0.19,6.45,16.84,76.52,17.24,9,0
3,4,Afghanistan,Afghanistan,33.0000,65.0000,2020-03-15,75,119.118777,44630.51962,0.187914,...,0.0,0.0,8.04,0.19,6.45,16.84,76.52,17.24,11,0
4,5,Afghanistan,Afghanistan,33.0000,65.0000,2020-03-16,76,119.118777,44630.51962,0.187914,...,0.0,0.0,8.04,0.19,6.45,16.84,76.52,17.24,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12207,12208,Zambia,Zambia,-15.4167,28.2833,2020-04-19,110,78.573074,3.00000,0.821467,...,0.0,0.0,5.13,7.17,21.41,30.06,41.35,14.13,3,0
12208,12209,Zambia,Zambia,-15.4167,28.2833,2020-04-20,111,78.573074,3.00000,0.821467,...,0.0,0.0,5.13,7.17,21.41,30.06,41.35,14.13,3,0
12209,12210,Zambia,Zambia,-15.4167,28.2833,2020-04-21,112,78.573074,3.00000,0.821467,...,0.0,0.0,5.13,7.17,21.41,30.06,41.35,14.13,3,0
12210,12211,Zambia,Zambia,-15.4167,28.2833,2020-04-22,113,78.573074,3.00000,0.821467,...,0.0,0.0,5.13,7.17,21.41,30.06,41.35,14.13,3,0
12211,12212,Zambia,Zambia,-15.4167,28.2833,2020-04-23,114,78.573074,3.00000,0.821467,...,0.0,0.0,5.13,7.17,21.41,30.06,41.35,14.13,3,0

4. jika terdapat missing value, silahkan ditindak lanjuti

In [57]:
data.dropna(inplace = True)

In [58]:
data.isna().sum()

Id                                0
Province/State                    0
Country/Region                    0
Lat                               0
Long                              0
Date                              0
ConfirmedCases                    0
Fatalities                        0
DayOfYear                         0
x0_ConfirmedCases                 0
L_ConfirmedCases                  0
k_ConfirmedCases                  0
sx0_ConfirmedCases                0
sx0L_ConfirmedCases               0
sx0k_ConfirmedCases               0
sL_ConfirmedCases                 0
sLk_ConfirmedCases                0
sk_ConfirmedCases                 0
x0_Fatalities                     0
L_Fatalities                      0
k_Fatalities                      0
sx0_Fatalities                    0
sx0L_Fatalities                   0
sx0k_Fatalities                   0
sL_Fatalities                     0
sLk_Fatalities                    0
sk_Fatalities                     0
life_expectancy_years             0
literacy_rates                    0
veg_supply_person_kg_year         0
respiratory_infections_death      0
deaths_from_smoking%              0
young%                            0
old%                              0
density                           0
population                        0
fem%                              0
number_doc_per1000                0
surgeons_act_working              0
obstetricians_act_working         0
anaesthesiologists_act_working    0
avg_hh                            0
hh%1                              0
hh%2-3                            0
hh%4-5                            0
hh%6+                             0
hh65+                             0
y_ConfirmedCases                  0
y_Fatalities                      0
dtype: int64

In [132]:
data2 = data[['Lat','Long','ConfirmedCases','DayOfYear']]
data2

           Lat     Long  ConfirmedCases  DayOfYear
0      33.0000  65.0000             0.0         22
1      33.0000  65.0000             0.0         23
2      33.0000  65.0000             0.0         24
3      33.0000  65.0000             0.0         25
4      33.0000  65.0000             0.0         26
...        ...      ...             ...        ...
17887 -15.4167  28.2833             2.0         80
17888 -15.4167  28.2833             2.0         81
17889 -15.4167  28.2833             3.0         82
17890 -15.4167  28.2833             3.0         83
17891 -15.4167  28.2833             3.0         84

[4158 rows x 4 columns]

5. buat sebuah dataframe baru dari data yang sudah di import sebelumnya. pilih minimal 3 kolom numerik untuk menjadi dataframe baru ini yang sudah tidak terdapat missing value sama sekali
6. resetlah index dari data baru ini. kemudian ganti indexnya dengan index baru yang valuenya bebas

In [108]:
data2.reset_index()

      index      Lat     Long  ConfirmedCases  DayOfYear           new
0         0  33.0000  65.0000             0.0         22  5.051334e+98
1         1  33.0000  65.0000             0.0         23  5.051334e+98
2         2  33.0000  65.0000             0.0         24  5.051334e+98
3         3  33.0000  65.0000             0.0         25  5.051334e+98
4         4  33.0000  65.0000             0.0         26  5.051334e+98
...     ...      ...      ...             ...        ...           ...
4153  17887 -15.4167  28.2833             2.0         80           NaN
4154  17888 -15.4167  28.2833             2.0         81           NaN
4155  17889 -15.4167  28.2833             3.0         82           NaN
4156  17890 -15.4167  28.2833             3.0         83           NaN
4157  17891 -15.4167  28.2833             3.0         84           NaN

[4158 rows x 6 columns]

7. tambah 3 kolom baru pada DF yang baru tersebut dgn ketentuan : 
- kolom baru 1 berisikan pangkat dari kolom 1 dan 2
- kolom baru 2 berisikan nilai modulus antara kolom 3 dan kolom baru 1
- kolom baru 3 berisikan nilai penjumlahan antara kolom baru 1 dan kolom baru 2
8. tampilkan 10 data teratas dan 15 data terbawah dari masing2 dataframe

In [138]:
data2.drop("new",axis=1,inplace=True)

C:\Users\lidya\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [139]:
# data2["new"]=data2["Long"]**data2["Lat"]
data2

           Lat     Long  ConfirmedCases  DayOfYear
0      33.0000  65.0000             0.0         22
1      33.0000  65.0000             0.0         23
2      33.0000  65.0000             0.0         24
3      33.0000  65.0000             0.0         25
4      33.0000  65.0000             0.0         26
...        ...      ...             ...        ...
17887 -15.4167  28.2833             2.0         80
17888 -15.4167  28.2833             2.0         81
17889 -15.4167  28.2833             3.0         82
17890 -15.4167  28.2833             3.0         83
17891 -15.4167  28.2833             3.0         84

[4158 rows x 4 columns]

In [130]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4158 entries, 0 to 17891
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Lat             4158 non-null   float64
 1   Long            4158 non-null   float64
 2   ConfirmedCases  4158 non-null   float64
 3   DayOfYear       4158 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 291.5 KB

In [99]:
type(data2["Long"])

pandas.core.series.Series

In [140]:
data2.insert(1 , 'Kol1', data2["Long"]*data2["Lat"])
data2

           Lat         Kol1     Long  ConfirmedCases  DayOfYear
0      33.0000  2145.000000  65.0000             0.0         22
1      33.0000  2145.000000  65.0000             0.0         23
2      33.0000  2145.000000  65.0000             0.0         24
3      33.0000  2145.000000  65.0000             0.0         25
4      33.0000  2145.000000  65.0000             0.0         26
...        ...          ...      ...             ...        ...
17887 -15.4167  -436.035151  28.2833             2.0         80
17888 -15.4167  -436.035151  28.2833             2.0         81
17889 -15.4167  -436.035151  28.2833             3.0         82
17890 -15.4167  -436.035151  28.2833             3.0         83
17891 -15.4167  -436.035151  28.2833             3.0         84

[4158 rows x 5 columns]

In [118]:
data2["Lat"]

0        33.0000
1        33.0000
2        33.0000
3        33.0000
4        33.0000
          ...
17887   -15.4167
17888   -15.4167
17889   -15.4167
17890   -15.4167
17891   -15.4167
Name: Lat, Length: 4158, dtype: float64

In [100]:
data2["Lat"]**data2["Long"]

0        5.051334e+98
1        5.051334e+98
2        5.051334e+98
3        5.051334e+98
4        5.051334e+98
             ...
17887             NaN
17888             NaN
17889             NaN
17890             NaN
17891             NaN
Length: 4158, dtype: float64

In [ ]:
a